


@font-face {
	font-family: 'DINOT-Light';
    src: url('../font/DINOT-Light.eot');
    src: url('../font/DINOT-Light.eot?#iefix') format('embedded-opentype'),
         url('../font/DINOT-Light.woff') format('woff'),
         url('../font/DINOT-Light.ttf') format('truetype'),
         url('../font/DINOT-Light.svg#DINOT-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'DINOT-Regular';
    src: url('../font/DINOT-Regular.eot');
    src: url('../font/DINOT-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/DINOT-Regular.woff') format('woff'),
         url('../font/DINOT-Regular.ttf') format('truetype'),
         url('../font/DINOT-Regular.svg#DINOT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'DINOT-Medium';
    src: url('../font/DINOT-Medium.eot');
    src: url('../font/DINOT-Medium.eot?#iefix') format('embedded-opentype'),
         url('../font/DINOT-Medium.woff') format('woff'),
         url('../font/DINOT-Medium.ttf') format('truetype'),
         url('../font/DINOT-Medium.svg#DINOT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'DINOT-Bold';
    src: url('../font/DINOT-Bold.eot');
    src: url('../font/DINOT-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/DINOT-Bold.woff') format('woff'),
         url('../font/DINOT-Bold.ttf') format('truetype'),
         url('../font/DINOT-Bold.svg#DINOT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'DINOT-Black';
    src: url('../font/DINOT-Black.eot');
    src: url('../font/DINOT-Black.eot?#iefix') format('embedded-opentype'),
         url('../font/DINOT-Black.woff') format('woff'),
         url('../font/DINOT-Black.ttf') format('truetype'),
         url('../font/DINOT-Black.svg#DINOT-Black') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'bebas_neueregular';
    src: url('../font/bebasneue-webfont.eot');
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue-webfont.woff') format('woff'),
         url('../font/bebasneue-webfont.ttf') format('truetype'),
         url('../font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'BrandonReg';
	src: url('../font/Brandonreg.eot');
	src: url('../font/Brandonreg.woff') format('woff'),  url('../font/Brandonreg.svg#BrandonGrotesque-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonBold';
	src: url('../font/Brandonbld.eot');
	src: url('../font/Brandonbld.woff') format('woff'),  url('../font/Brandonbld.svg#BrandonGrotesque-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Brandonlight';
	src: url('../font/Brandonlight.eot');
	src: url('../font/Brandonlight.woff') format('woff'),  url('Brandonlight.svg#BrandonGrotesque-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BrandonBlack';
	src: url('../font/Brandonblk.eot');
	src: url('../font/Brandonblk.woff') format('woff'),  url('../font/Brandonblk.svg#BrandonGrotesque-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AniseThin';
	src: url('../font/AniseThi.eot');
	src: url('../font/AniseThi.woff') format('woff'),  url('../font/AniseThi.svg#Anisette-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Anisette-Medium';
	src: url('../font/Anisette-Medium.eot');
	src: url('../font/Anisette-Medium.woff') format('woff'),  url('../font/Anisette-Medium.svg#Anisette-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Anise';
	src: url('../font/AniseLig.eot');
	src: url('../font/AniseLig.woff') format('woff'),  url('../font/AniseLig.svg#Anisette-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AniseReg';
	src: url('../font/AniseReg.eot');
	src: url('../font/AniseReg.woff') format('woff'),  url('../font/AniseReg.svg#Anisette-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AniseBold';
	src: url('../font/AniseBol.eot');
	src: url('../font/AniseBol.woff') format('woff'),  url('../font/AniseBol.svg#Anisette-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


